.navContainer {
  position: absolute;
  z-index: 1000;
  top: 80px;
  opacity: 0.8;
  padding-top: 3.5rem;
  width: 100%;
  transition: top 0.3s;
  height: 80px;
  }
  
  .img {
    width: 100px;
    color: f3f1f1;
  }
  
  .container{
    
    display: flex;
    gap: 150px;
    margin-inline: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    font-size: 16px;
    padding-bottom: 1.2rem;
    border-bottom: 0.15rem solid #e5e5e5;
    width: 90%;
  }
  
 a {
    margin: 0;
    color: #000;
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
  }

  